.container
  h1.title たいきのほ～むぺ～じ
  Logo
  .links
    a.button.grey(
      href="https://github.com/taiki1280",
      target="_blank",
      rel="noopener noreferrer"
    ) GitHub
    a.button.cyan(
      href="https://twitter.com/taiki_global",
      target="_blank",
      rel="noopener noreferrer"
    ) Twitter